name: Publish Crates
on:
 push:
   tags:
     - 'v*' # Trigger on version tags like v1.0.0
 release:
    types: [published]
 workflow_dispatch:

jobs:
 publish:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v3
     - uses: actions-rs/toolchain@v1
       with:
         toolchain: stable
         override: true
     - uses: katyo/publish-crates@v2
       id: publish-crates
       with:
         registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
         ignore-unpublished-changes: true
     - name: if my-crate published
       if: fromJSON(steps.publish-crates.outputs.published).*
       run: |
         LIST="${{ join(fromJSON(steps.publish-crates.outputs.published).*.name, ', ') }}"
         echo "Published crates: $LIST"